---
import NutritionCard from "../components/NutritionCard.astro";
import rawItems from "../data/items.json";

const items = rawItems.map((item) => ({
	...item,
	nutrition: {
		...item.nutrition,
		"Protein per 100kcal": ((item.nutrition["Protein"] / item.Calories) * 100).toFixed(2),
	},
}));
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nutrition Cards</title>
	</head>
	<body>
		<main>
			{items.map((item) => <NutritionCard {...item} />)}
		</main>
	</body>
</html>
