---
const { title, Calories, nutrition } = Astro.props;
---

<div class="flex gap-4 p-4 border-b border-gray-200 items-start">
    <div class="flex-1">
        <div class="flex flex-wrap items-center gap-2 mb-2">
            <h2 class="text-lg font-bold">{title}</h2>
        </div>
        <div class="overflow-x-auto">
            <table class="w-full text-sm border border-gray-200 rounded-lg">
                <thead class="bg-gray-50">
                    <tr>
                        <th
                            class="px-2 py-1 border border-gray-200 text-center font-medium"
                            >Calories</th
                        >
                        {
                            Object.keys(nutrition).map((key) => (
                                <th class="px-2 py-1 border border-gray-200 text-center font-medium">
                                    {key}
                                </th>
                            ))
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-2 py-1 border border-gray-200 text-center"
                            >{Calories}kcal</td
                        >
                        {
                            Object.values(nutrition).map((value) => (
                                <td class="px-2 py-1 border border-gray-200 text-center">
                                    {value}g
                                </td>
                            ))
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
