---
const NUTRITION_KEYS = [
    "Fat",
    "Carbs",
    "Protein",
    "Fiber",
    "Sugar",
    "Salt",
    "Protein per 100kcal",
];

const { title, Calories, nutrition } = Astro.props;
---

<div class="flex gap-4 p-4 border-b border-gray-200 items-start">
    <div class="flex-1">
        <div class="flex flex-wrap items-center gap-2 mb-2">
            <h2 class="text-lg font-bold">{title}</h2>
        </div>
        <div class="overflow-x-auto">
            <table class="w-full text-sm border border-gray-200 rounded-lg">
                <thead class="bg-gray-50">
                    <tr>
                        <th
                            class="px-2 py-1 border border-gray-200 text-center font-medium w-24"
                            >Calories</th
                        >
                        {
                            NUTRITION_KEYS.map((key, idx) => (
                                <th class={`px-2 py-1 border border-gray-200 text-center font-medium ${idx === NUTRITION_KEYS.length - 1 ? "w-48" : "w-24"}`}>
                                    {key}
                                </th>
                            ))
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-2 py-1 border border-gray-200 text-center w-24"
                            >{Calories}kcal</td
                        >
                        {
                            NUTRITION_KEYS.map((key, idx) => (
                                <td class={`px-2 py-1 border border-gray-200 text-center ${idx === NUTRITION_KEYS.length - 1 ? "w-48" : "w-24"}`}>
                                    {nutrition[key] ? `${nutrition[key]} g` : "-"}
                                </td>
                            ))
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
